<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion des classes</title>
    <link rel="stylesheet" th:href="@{/css/professeur.css}">
</head>
<body id="body-color">
    <header>
        <h2>Gestion des classes</h2>
    </header>
    <main>
        <div>
            <a th:href="@{/classes/new}"><button class="bouton" id="bouton-cree">Ajouter une classe</button></a>
        </div>
        <div>
            <h2>Classes</h2>
        </div>
        <table id="table-classe-gen">
            <tbody th:each="model :${models}">
                <td class="tab-classe-detail"><p th:text="${model.nom}"></p></td>
                <td class="tab-classe-detail"><p th:text="${model.matiere}" th:class="'matiere-'+${model.matiere}">></p></td>
                <td class="tab-classe-detail"><a th:href="@{/classes/{id}(id=${model.id})}"><button class="bouton" id="bouton-detail">Details</button></a></td>
                <td class="tab-classe-detail"><a th:href="@{/classes/{id}/modifier(id=${model.id})}"><button class="bouton" id="bouton-modifier">Modifier</button></a></td>
                <td class="tab-classe-detail"><a th:href="@{/classes/{id}/delete(id=${model.id})}"><button class="bouton" id="bouton-supprimer">Delete</button></a></td>
                <td class="tab-classe-detail"><p>Professeur:</p></td>
                <td class="tab-classe-detail"><p th:text="${model.professeur.nom}"></p></td>
                <td class="tab-classe-detail"><p th:text="${model.professeur.prenom}"></p></td>
                <td class="tab-classe-detail"><a th:href="@{/professeurs/{id}(id=${model.professeur.id})}"><button class="bouton" id="bouton-detail2">Detail</button></a></td>
            </tbody>
        </table>
        <table>
            <tr id="tr-nb-classe">
                <th><p>Nombre total de classes</p></th>
                <td id="nb-classe"><p th:text="${nbClasses}"></p></td>
            </tr>
        </table>
        <div id="div-bouton-liste-prof">
            <a th:href="@{/professeurs/}"><button class="bouton" id="bouton-liste">Liste professeurs</button></a>
        </div>
    </main>

</body>
</html>