#body-color{
    background-color: #001f7a;
    color: wheat;
}
.div-bouton {
    display: flex;
    justify-content: center;
}
.titre{
    text-align: center;
    font-family: OCR A Std, monospace;
    color:white;

}
.bouton{
    font-size: 15px;
    font-family: OCR A Std, monospace;
    color: white;
    border-radius: 20px;
    margin: 3px;
}
#bouton-cree{
    background-color:#707070;
}
#bouton-modifier{
    background-color:#a37000;
}
#bouton-supprimer{
    background-color:#ff0000;
}
#bouton-detail{
    background-color:#00a303;
}
#bouton-detail2{
    background-color:#00a303;
}
#bouton-liste{
    background-color:#0617f9;
    margin:5px;
}
#bouton-submit{
    background-color:#0617f9;
}
#div-table {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
table {
    border:solid 1px;
    border-radius: 20px;
    margin-top:5px;
    margin-left:15px;
    margin-right:15px;
}
th {
    padding-left: 20px;
    width: 220px;
    text-align: left;
}
#div-detail-prof{
    display: flex;
    justify-content: center;
    justify-content: space-evenly
}
.detail-prof {
    font-size: 17px;
    font-family: OCR A Std, monospace;
}
#div-bouton-detail-prof{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
#table-classe-gen{
    box-shadow: 1px 1px 1px 10px wheat;
    margin:10px;

}
.tab-classe-detail{
    text-align: center;
    font-family: OCR A Std, monospace;
    padding-left: 6px;
    padding-right: 6px;
    margin: 5px;
    border-bottom: solid 1px;
}

#div-gen-form-prof{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: OCR A Std, monospace;
}
.matiere-francais{
    background-color:red;
    border-radius:20px;
}
.matiere-math{
    background-color:black;
    border-radius:20px;
}
.matiere-anglais{
    background-color:yellow;
    border-radius:20px;
    color: black;
}
.matiere-sciences{
    background-color:green;
    border-radius:20px;
}
.matiere-musique{
    background-color:purple;
    border-radius:20px;
}
.matiere-techno{
    background-color:orange;
    border-radius:20px;
}
.matiere-sport{
    background-color:magenta;
    border-radius:20px;
}
#form-classe-gen{
    display: flex;
    flex-direction: column;
    align-items: center;

}