.titre{
    text-align: center;
    font-family: Optima, sans-serif;
    color: #3400c2;
}
.bouton{
    font-size: 15px;
    font-family: Optima, sans-serif;
    color: white;
    border-radius: 20px;
    margin: 3px;
}
#bouton-cree{
    background-color:#707070;
}
#bouton-modifier{
    background-color:#a37000;
}
#bouton-supprimer{
    background-color:#ff0000;
}
#bouton-detail{
    background-color:#00a303;
}
#bouton-liste{
    background-color:#0617f9;
}
#bouton-submit{
    background-color:#0617f9;
}
#div-table {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
table {
  border:solid 1px;
  border-radius: 20px;
  margin-top:5px;
  margin-left:15px;
  margin-right:15px;
}
th {
    padding-left: 20px;
    width: 220px;
    text-align: left;
}

