<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p th:text="${modelP.id}"></p>
    <p th:text="${modelP.nom}"></p>
    <p th:text="${modelP.prenom}"></p>
    <p th:text="${modelP.email}"></p>
    <p>Classes enseignés</p>
    <div th:each="classe :${modelP.classes} ">
        <p th:text="${classe.nom}"></p>
        <p th:text="${classe.niveau}"></p>
        <p th:text="${classe.matiere}"></p>
        <p th:text="${classe.nbEleve}"></p>
    </div>
    <div>
        <p>Nombre de classes:</p>
        <span th:text="${nbClasse}"></span>
    </div>
    <div>
        <p>Nombre de élèves:</p>
        <span th:text="${nbEleve}"></span>
    </div>

    <div>
        <a th:href="@{/professeurs/{id}(id=${modelP.id})}"><button>Details</button></a>
        <a th:href="@{/professeurs/{id}/modifier(id=${modelP.id})}"><button>Modifier</button></a>
        <a th:href="@{/professeurs/{id}/delete(id=${modelP.id})}"><button>Delete</button></a>
    </div>
    <div>
        <a th:href="@{/professeurs/}"><button>Retour</button></a>
    </div>


</body>
</html>