<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion des Professeurs</title>
    <link rel="stylesheet" th:href="@{/css/professeur.css}">
</head>
<body>
    <header>
        <h2 class="titre">Gestion des Professeurs</h2>
    </header>
    <main>
        <div>
            <a th:href="@{/professeurs/new}"><button class="bouton" id="bouton-cree">Ajouter un professeur</button></a>
        </div>
        <table>
            <tbody th:each="modelP :${models} ">
                <th><p th:text="${modelP.nom}"></p></th>
                <th><p th:text="${modelP.prenom}" class="table-th"></p></th>
                <td><a th:href="@{/professeurs/{id}(id=${modelP.id})}"><button class="bouton" id="bouton-detail">Details</button></a></td>
                <td><a th:href="@{/professeurs/{id}/modifier(id=${modelP.id})}"><button class="bouton" id="bouton-modifier">Modifier</button></a></td>
                <td><a th:href="@{/professeurs/{id}/delete(id=${modelP.id})}"><button class="bouton" id="bouton-supprimer">Delete</button></a></td>
            </tbody>
        </table>
        <div>
            <a th:href="@{/classes/}"><button class="bouton" id="bouton-liste">Liste classes</button></a>
        </div>
    </main>
</body>
</html>